@import "./colors.scss";

.checked-badge {
	padding: 5px 5px 1px 5px;
}

.checked-badge label {
	position: relative;
	bottom: 4px;
}

.console-log {
	font-family: monospace;
	overflow-y: scroll;
	height: 300px;
}
