CONTRACT_BUILD_DIR="../truffle/build/contracts"
NETWORK_HOST="https://<network>.infura.io/v3/YOUR-PROJECT-ID" -OR- "HTTP://127.0.0.1:7545"
ETHERSCAN_APIKEY="request API Key from https://etherscan.io/apis"